# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript output
dist/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local
.env.*

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.gz

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Prisma
prisma/migrations/
prisma/dev.db


/src/generated/prisma
